.container{
    border-radius: 8px;
    background-color: black;
    width: 600px;
    height: 500px;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 30px;
}

.image{
    
    border: 1px solid blue;
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

.title{
    color: aqua;
    padding-top: 20px ;
    padding-bottom: 20px ;
    text-align: center;
    font-size: xx-large;
}
.text{
    text-align: center;
    font-size: x-large;
}